.planet {
    width: 20rem;
    height: 22.5rem;
    margin-top: 2rem;
    padding: 0rem 2rem;

    border: 0.2rem solid #1AF;
    color: #1AF;
    background-color: #113;
    border-radius: 1rem;
    cursor: pointer;
}

.planet:hover {
    border-color: #EE0;
}

@keyframes blinking-text-anim {
    0% {
        color: #EE0;
    }

    50% {
        color: #770;
    }

    100% {
        color: #EE0;
    }
}

a {
    text-decoration: none;
}

.blinking-text {
    animation-name: blinking-text-anim;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

td {
    border: 1px solid #1AF;
    padding: 5px 10px;
    border-spacing: 5px;
}

td:first-child {
    vertical-align: top;
    width: 7rem;
}

table {
    width: 100%;
    margin-bottom: 1rem;
}