<div class="character">
    <h1>{{character_info.name}}</h1>
    <table>
        <tr>
            <td>Height</td>
            <td>{{character_info.height}} cm</td>
        </tr>
        <tr>
            <td>Mass</td>
            <td>{{character_info.mass}} kg</td>
        </tr>
        <tr>
            <td>Hair color</td>
            <td>{{character_info.hair_color}}</td>
        </tr>
        <tr>
            <td>Skin color</td>
            <td>{{character_info.skin_color}}</td>
        </tr>
        <tr>
            <td>Eye color</td>
            <td>{{character_info.eye_color}}</td>
        </tr>
        <tr>
            <td>Year of birth</td>
            <td>{{character_info.birth_year}}</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>{{character_info.gender}}</td>
        </tr>
    </table>
</div>


