.planet {
    width: 30rem;
    height: 22.5rem;
    margin-top: 2rem;
    padding: 0rem 2rem;

    border: 0.2rem solid #1AF;
    color: #1AF;
    background-color: #113;
    border-radius: 1rem;
}

@media (max-width: 760px) {
    .planet {
        width: 25rem;
        height: auto;
    }
}

td {
    border: 1px solid #1AF;
    padding: 5px 10px;
    border-spacing: 5px;
}

td:first-child {
    vertical-align: top;
    width: 10rem;
}

td:last-child {
    text-align: center;
}

table {
    width: 100%;
    margin-bottom: 1rem;
}