<div class="planet">
    <h1>{{planet_info.name}}</h1>
    <table>
        <tr>
            <td>Rotation period</td>
            <td>{{planet_info.rotation_period}}</td>
        </tr>
        <tr>
            <td>Orbital period</td>
            <td>{{planet_info.orbital_period}}</td>
        </tr>
        <tr>
            <td>Diameter</td>
            <td>{{planet_info.diameter}}</td>
        </tr>
        <tr>
            <td>Climate</td>
            <td>{{planet_info.climate}}</td>
        </tr>
        <tr>
            <td>Gravity</td>
            <td>{{planet_info.gravity}}</td>
        </tr>
        <tr>
            <td>Terrain</td>
            <td>{{planet_info.terrain}}</td>
        </tr>
        <tr>
            <td>Surface waters</td>
            <td>{{planet_info.surface_water}}</td>
        </tr>
        <tr>
            <td>Population</td>
            <td>{{planet_info.population}}</td>
        </tr>
    </table>
</div>


