body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002;
}

html {
    font-size: 16px;
}

@media (max-width: 900px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 760px) {
    html {
        font-size: 10px;
    }

    h1 {
        font-size: 32px;
        font-weight: 600;
    }

    td {
        font-size: 16px;
    }
}
